:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

.greeting {
    font-size: 50px;
    margin-top: 100px;
}

.descriptionPrompt {
    font-size: 30px;  
    margin-top: 250px;
}

.descriptionInput {
    font-size: 20px;
    text-align: center;
    height: 45px;
    width: 500px;  
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    padding: 12px 20px;
}

.descriptionInput:focus{
    outline: grey auto 1px !important;
}