<div class="greeting">Dashboard</div>
<div class="card-container">	
  <a class="card" target="_blank" rel="noopener">	
      <img height="200" width="200" src="../../assets/Mon.PNG"/>
  </a>	

  <a class="card" target="_blank" rel="noopener">	
      <img height="200" width="200" src="../../assets/Tue.PNG"/>
  </a>	

  <a class="card" target="_blank" rel="noopener">	
      <img height="200" width="200" src="../../assets/Wed.PNG"/>
  </a>
      <a class="card" target="_blank" rel="noopener">	
      <img height="200" width="200" src="../../assets/Thu.PNG"/>
  </a>
      <a class="card" target="_blank" rel="noopener">	
      <img height="200" width="200" src="../../assets/Fri.PNG"/>
  </a>	

</div>  	
