<div class="greeting">Dashboard</div>
<div class="card-container">	
  <a class="card" target="_blank" rel="noopener">	
      <img height="200" width="200" [src]="monUrl"/>
  </a>	

  <a class="card" target="_blank" rel="noopener">	
      <img height="200" width="200" [src]="tueUrl"/>
  </a>	

  <a class="card" target="_blank" rel="noopener">	
      <img height="200" width="200" [src]="wedUrl"/>
  </a>
      <a class="card" target="_blank" rel="noopener">	
      <img height="200" width="200" [src]="thuUrl"/>
  </a>
      <a class="card" target="_blank" rel="noopener">	
      <img height="200" width="200" [src]="friUrl"/>
  </a>	

</div>  	
